---
---
html {
  background: #eee;
}

body {
  margin: 0 auto 1em auto;
  padding: 0 0 1em;
  font: 1em/1.4 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  background: white;
  max-width: 70em;
  border: 2px solid #ddd;
  border-width: 0 2px 2px 2px;
}

h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font: 900 45px/200px Roboto, sans-serif;
  background: #C6C5C0 url('/images/solution-tree.jpg') no-repeat center center;
  background-size: 100%;
  text-shadow: 2px 2px #ddd;
  height: 200px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.padded {
  padding: 0 2em;
}

.__slackin, .map {
  float: right;
}

.__slackin {
  margin: 0 0 1em 1em;
}

.map {
  margin: 1em;
}

.box {
  border: 2px solid #eed;
  overflow: auto;
  zoom: 1;
  background: #ffe;
  padding: 0 1em;
}
