---
---
html {
  background: #ddd;
}

body {
  margin: 0;
  padding: 0 0 1em;
  font: 1em/1.4 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  background: white;
}

h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font: 900 45px/200px Roboto, sans-serif;
  background: #9CB952 url('/images/solution-tree.jpg') no-repeat center center;
  text-shadow: 2px 2px #ddd;
  height: 200px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.padded {
  padding: 0 2em;
}

.__slackin, .map {
  float: right;
  margin: 0 0 1em 1em;
}
