---
title: London Computation Club
layout: default
---
<p>The first rule of London Computation Club is Rule <input id="rule-number" type="number" value="110" min="0" max="255">, the rest is in <a href="{{site.url }}/code-of-conduct/">our code of conduct</a></p>

<canvas id="cellular-automaton" width="800" height="300"></canvas>

{% assign now = site.time | date: '%F' %}
{% assign meetings = site.data.meetings | sort: 'date' %}
<section>
  <h2>Future meetings</h2>

  <ul>
  {% assign future_meetings_planned = false %}
  {% for meeting in meetings reversed %}
    {% assign meeting_date = meeting.date | date: '%F' %}
    {% if meeting_date >= now %}
    {% assign future_meetings_planned = true %}
    <li>
      <a href="{{ meeting.url }}">{{ meeting.date | date: "%A %-d %B %Y" }}</a>
    </li>
    {% endif %}
  {% endfor %}

  {% if future_meetings_planned == false %}
    <li>(none)</li>
  {% endif %}
  </ul>
</section>

<section>
  <h2>Members</h2>

  <ul class="inline-list">
  {% assign members = site.data.members | sort: 'name' %}
  {% for member in members %}
    <li>
      <a href="{{ member.url }}">
        <img src="{{ member.thumbnail }}" width="40" height="40" alt="{{ member.name }}" title="{{ member.name }}">
      </a>
    </li>
  {% endfor %}
</ul>
</section>

<section>
  <h2>Past meetings</h2>

  <ul>
  {% for meeting in meetings reversed %}
    {% assign meeting_date = meeting.date | date: '%F' %}
    {% if meeting_date < now %}
    <li>
      <a href="{{ meeting.url }}">{{ meeting.date | date: "%A %-d %B %Y" }}</a>
      {% if meeting.write_up %}
      <ul>
        <li><a href="{{ meeting.write_up }}">Write-up</a></li>
      </ul>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>

<section>
  <h2>Books we&rsquo;ve read</h2>

  <ul>
    <li><a href="http://computationbook.com/">Understanding Computation</a></li>
    <li><a href="http://www.ccs.neu.edu/home/matthias/BTLS/">The Little Schemer</a></li>
  </ul>
</section>

<section>
  <h2>Contact</h2>

  <ul>
    <li><a href="https://twitter.com/computationclub">Twitter</a></li>
    <li><a href="https://github.com/computationclub">GitHub</a></li>
    <li><a href="https://groups.google.com/group/london-computation-club">Mailing list</a></li>
  </ul>
</section>

<script src="{{ site.url }}/js/rule.js"></script>
<script src="{{ site.url }}/js/cell-grid.js"></script>
<script src="{{ site.url }}/js/cellular-automaton.js"></script>
<script>
  (function () {
    var ruleNumberId = 'rule-number',
        canvasId = 'cellular-automaton',
        cellSize = 2,
        rowsPerSecond = 100;

    document.addEventListener('DOMContentLoaded', function () {
      var ruleNumber = document.getElementById(ruleNumberId);

      var cellGrid = new CellGrid({
        canvas: document.getElementById(canvasId),
        cellSize: cellSize
      });

      var cellularAutomaton = new CellularAutomaton({
        rule: new Rule(ruleNumber.valueAsNumber),
        size: cellGrid.columns
      });

      cellularAutomaton.setCell(cellGrid.columns - 1, true);

      window.setInterval(function () {
        cellGrid.draw(cellularAutomaton);
        cellularAutomaton.step();
      }, 1000 / rowsPerSecond);

      ruleNumber.addEventListener('change', function () {
        cellularAutomaton.rule = new Rule(ruleNumber.valueAsNumber);
      });
    });
  }());
</script>
