---
title: London Computation Club
layout: default
---
{% assign now = site.time | date: '%F' %}
{% assign meetings = site.data.meetings | sort: 'date' %}
<section id="about">
  <p>The <b>London Computation Club</b> is a meet-up for people interested in one or more of the following:</p>

  <ul>
    <li>Reading <a href="#books">books</a> (perhaps one we wouldn&rsquo;t ordinarily read on our own);</li>
    <li>Learning about computation, programming and programs in general;</li>
    <li>Writing code (perhaps of a different sort than we&rsquo;d do for &ldquo;work&rdquo;);</li>
    <li>Hanging out with other inquisitive people.</li>
  </ul>

</section>

<section id="future-meetings">
  <h2>Future meetings</h2>

  <ul>
  {% assign future_meetings_planned = false %}
  {% for meeting in meetings reversed %}
    {% assign meeting_date = meeting.date | date: '%F' %}
    {% if meeting_date >= now %}
      {% assign future_meetings_planned = true %}
      {% include meeting.html %}
    {% endif %}
  {% endfor %}

  {% if future_meetings_planned == false %}
    <li>(none)</li>
  {% endif %}
  </ul>
</section>

<section id="members">
  <h2>Members</h2>

  <ul class="inline-list">
  {% assign members = site.data.members | sort: 'name' %}
  {% for member in members %}
    <li>
      <a href="{{ member.url }}">
        <img class="bordered" src="{{ member.thumbnail }}" width="40" height="40" alt="{{ member.name }}" title="{{ member.name }}">
      </a>
    </li>
  {% endfor %}
</ul>
</section>

<section id="past-meetings">
  <h2>Past meetings</h2>

  <ul>
  {% for meeting in meetings reversed %}
    {% assign meeting_date = meeting.date | date: '%F' %}
    {% if meeting_date < now %}
      {% include meeting.html %}
    {% endif %}
  {% endfor %}
  </ul>
</section>

<section id="books">
  <h2>Books we&rsquo;re reading</h2>

  <ul>
    {% assign books = site.data.books | where:"current", true | sort: "title" %}
    {% for book in books %}
    <li>
      {{ book.authors | array_to_sentence_string }}, "<a href="{{ book.url }}">{{ book.title }}</a>" (<a href="{{ book.amazon_url }}">buy on Amazon</a>)
    </li>
    {% endfor %}
  </ul>

  <h2>Books we&rsquo;ve read</h2>

  <ul>
    {% assign books = site.data.books | where:"current", false | sort: "title" %}
    {% for book in books %}
    <li>
      {{ book.authors | array_to_sentence_string }}, "<a href="{{ book.url }}">{{ book.title }}</a>" (<a href="{{ book.amazon_url }}">buy on Amazon</a>)
    </li>
    {% endfor %}
  </ul>

  <p>If you buy these books using the Amazon links, London Computation Club gets a little kickback via the Amazon affiliate programme. We use that kickback to buy copies of the books for our library, to assist members or potential members who otherwise wouldn't be able to afford the book.<p>
</section>

<section id="contact">
  <h2>Contact</h2>

  <ul>
    <li><a href="https://twitter.com/computationclub">Twitter</a></li>
    <li><a href="https://github.com/computationclub">GitHub</a></li>
    <li><a href="https://groups.google.com/group/london-computation-club">Mailing list</a></li>
  </ul>
</section>

